@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei);

html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Audiowide', Helvetica,'ZCOOL XiaoWei', serif!important;
  -webkit-font-smoothing: antialiased;
  -webkit-app-region: drag;
}

#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.g-margin-top-large{
  margin-top: 24px;
}